@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&family=Sansita+Swashed:wght@300..900&family=Sarpanch:wght@400;500;600;700;800;900&display=swap');
img {
    width: 300px;
}

body {
    background-color: rgb(65, 18, 0);
    background-image: url("ha.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  font-family: "Bigshot One", serif;
}

p {
   color:#ffffff
}

.meth {
width:50px
}


.jesse {
    width:50px
}

.x{
    width:50px
}

.van {
width:100px
}

.chicken {
    width:150px
} 

.flask {
    width:80px
}

.help {
    width:100px
}

.xa {
    width:50px
}

.evil {
    width:600px
}

.ded {
    width:600px
}
a {
    color: rgb(0, 252, 252);
  right:500px
}

.schraderbrau {
    width:600px
}

.happy {
    width:600px
}

p {
    font-size: 30px
}  